/.buildpath
/.project
/.settings
/application_jh4jHD/sql/*.zip
/application_jh4jHD/config/database.php
/application_jh4jHD/config
config
/application_jh4jHD/config/autoload.php
/application_jh4jHD/config/config.php
/application_jh4jHD/config/constants.php
/application_jh4jHD/config/database.php
/application_jh4jHD/config/doctypes.php
/application_jh4jHD/config/foreign_chars.php
/application_jh4jHD/config/hooks.php
/application_jh4jHD/config/index.html
/application_jh4jHD/config/migration.php
/application_jh4jHD/config/mimes.php
/application_jh4jHD/config/profiler.php
/application_jh4jHD/config/routes.php
/application_jh4jHD/config/smileys.php
/application_jh4jHD/config/user_agents.php
