body            { font-family:Verdana, Arial, sans-serif; font-size:14px; color:#333; background-color:#ddd; }
p               { margin-bottom:20px; }

/* kopjes */
h1, h2, h3, h4 	{ font-weight:normal; margin:1em 0 0.5em 0; }
h1 				{ color:#EE3322; font-size:190%; }
h2 				{ color:#003D4C; font-size:190%; }
h3 				{ color:#2C6877; font-size:165%; }
h4 				{ color:#999933; font-size:100%; }

/* header (copied from intranet) */
div#header 		{ background-color: #003F78; padding: 10px 20px; z-index: 999; position:relative; }
#header h1 		{ background:url("../img/logo_wit.png") no-repeat scroll left center transparent; color:#FFFFFF; font-size:3em; height:50px; margin-top:0; }
#header h1 a 	{ color:#FFFFFF; font-weight:normal; padding:20px 0 20px 100px; text-decoration:none; }

/* top menu */
#top_menu				{ margin-left:104px; }
#top_menu a 			{ color:white; padding:12px; text-decoration:none; }
#top_menu li 			{ border-left: 1px solid white; display: inline; list-style: none outside none; margin: 0; padding:10px 0; }
#top_menu li:hover 		{ background-color:white; }
#top_menu li:hover a 	{ color:#003F78; }

/* container */
div#container 	{ border-top:0 none; box-shadow:0 0 5px 5px #888888; margin:0 auto; text-align:left; width:960px; background-color:#fff; padding:0; }
div#content		{ padding:10px 20px 40px; min-height:600px; }

/* poule ranking */
div.poule_ranking					{ float:left; margin:10px 20px; }
div.poule_ranking table th			{ font-weight:bold; border-bottom:1px solid #ddd; padding:4px; }
div.poule_ranking table td			{ padding:3px; border-bottom:1px solid #ddd; }

/* poule overview */
div.poule_overview					{ margin:40px 0; }
div.poule_overview table th 		{ border-right:1px solid #ddd; padding:4px; }
div.poule_overview table td 		{ font-size:10px; padding:2px; }
div.poule_overview table td.team	{ padding:5px; }
div.poule_overview table td.points	{ text-align:center; }
div.poule_overview table tr			{ border-bottom:1px solid #ddd; }
div.poule_overview table table tr	{ border-bottom:0; }
td.my_match							{ background-color:#B1D1D8; }
span.this_is_me						{ color:#EE3322; }

/* forms */
label								{ float:left; width:150px; padding-top:5px; }
input, select, textarea				{ float:left; padding:5px; margin:0 10px 2px 0; }
input[type="submit"], input[type="button"], div.error, div.success  { 
	padding: 8px 20px;  
	font-size: 110%; 
	color: #FFFFFF;
	background-color: #62AF56;
    background: -moz-linear-gradient(center top , #76BF6B, #3B8230) repeat scroll 0 0 #62AF56;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
	border: 1px solid #2D6324;
    border-radius: 4px 4px 4px 4px;
}
input[type="submit"]:hover 			{ background: none repeat scroll 0 0 #5BA150; }
label.required						{ font-weight:bold; }
input.invalid, select.invalid, textarea.invalid	{ border:1px solid #EE3322; }
div.invalidations					{ float:left; border:1px solid #EE3322; color:#9E2440; background-color:#FFDACC; padding:5px; margin-bottom:5px; max-width:400px; }
input.cancel						{ border-color:brown; background: none repeat scroll 0 0 #E25A3F; }
input.cancel:hover					{ background: none repeat scroll 0 0 #ED7A65; }

/* feedback*/
div.error, div.success				{ width:600px; margin-bottom:5px; }
div.error							{ border-color:brown; background: none repeat scroll 0 0 #E25A3F; }
div.success							{ border-color:#2D6324; background: none repeat scroll 0 0 #5BA150; }

/* account */
div#account_gegevens table th		{ font-weight:bold; padding:3px; }
div#account_gegevens table th,
div.account_form label				{ width:190px; }
div.account_form 					{ margin-top:50px; }

/* input match */
table#hands_input input				{ width:33px; text-align:right; }
table#hands_input td.hands_input_spacer { width:30px; }
table#hands_input thead th			{ text-align:center; font-weight:bold; padding:10px 10px 5px 0; }
table#hands_input thead td			{ text-align:left; padding-bottom:5px; }
table#hands_input tbody th			{ text-align:right; padding-right:10px; }
table#hands_input tfoot td			{ text-align:right; padding-right:16px; font-weight:bold; } 
table#hands_input tr.row_spacer		{ border-top:20px solid white; }

/* plan match */
#plan_form_table thead th			{ padding:20px 5px 10px 5px; }
#plan_form_table tbody th			{ width:150px; padding:3px 0; }
#plan_form_table td					{ width:100px; margin:0; padding:5px; }
#plan_form_table tr					{ border-bottom:1px solid #ddd; }




				