body            { font-family:Verdana, Arial, sans-serif; font-size:14px; color:black; background-color:white; }
h1              { font-size:24px; font-weight:bold; margin-bottom:20px; }
h2				{ font-size:18px; font-weight:bold; margin-bottom:10px; }
p               { margin-bottom:10px; }
div#container   { width:80%; margin:20px auto; }

/* poule overview */
div.poule_overview					{ margin-bottom:20px; }
div.poule_overview table th 		{ border-right:1px solid #ddd; padding:4px; }
div.poule_overview table td 		{ font-size:10px; padding:2px; }
div.poule_overview table td.team	{ padding:5px; }
div.poule_overview table td.score	{ text-align:center; }
div.poule_overview table tr			{ border-bottom:1px solid #ddd; }
div.poule_overview table table tr	{ border-bottom:0; }